@font-face {
  font-family: Harry;
  src: url(harryp___copy-webfont.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
}

.students {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  margin: 20px auto;
  max-width: 1000px;
}

@media only screen and (min-width: 800px) {
  .students {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.hero {
  background-image: url(hogwarts.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  color: white;
  font-family: "Harry";
  text-align: center;
  background-attachment: fixed;
}

.dark-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 50px;
}

.hogwarts-logo {
  height: 60%;
}

h2 {
  font-family: cursive;
  font-size: 20px;
}

p {
  font-family: sans-serif;
}

.upper-header {
  font-size: 80px;
  margin: 0 0 20px;
}

.lower-header {
  font-size: 60px;
  margin: 20px 0;
}

.list-1991 {
  text-align: center;
  font-size: 40px;
  margin: 20px 0;
}

.options {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  max-width: 700px;
  margin: 0 auto;
}

#house-counter {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  max-width: 800px;
  margin: 0 auto;
}

#filter,
#sorting {
  text-align: center;
  margin: 0 0 20px;
}

.filter {
  border: none;
  box-shadow: 0px 3px 6px black;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
  transition: 0.3s ease all;
}

.overall-counter {
  display: flex;
  justify-content: space-evenly;
  max-width: 600px;
  margin: 0 auto;
}

.filter:focus {
  outline: none;
}

.filter:hover {
  box-shadow: 0px 3px 6px rgb(200, 0, 0);
  transform: scale(1.05);
}

.valgt {
  box-shadow: 0px 3px 6px rgb(200, 0, 0);
}

select {
  font-size: 12px;
  height: 25px;
  border: none;
  box-shadow: 0px 3px 6px black;
}

select:focus {
  outline: none;
}

.fade {
  opacity: 0;
}

.filter-header,
.sorting-header {
  margin-bottom: 10px;
}

#counter {
  text-align: center;
}

.student {
  margin: 20px 0;
  cursor: pointer;
  height: 205px;
}

.scroll {
  background-image: url(scroll.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  animation: 0.5s ease all;
}

.student-image {
  border-radius: 50%;
  width: 50px;
  padding: 30px 0 0;
  margin-top: 10px;
}

.student-text {
  max-width: 150px;
  margin: 0 auto;
  padding: 10px;
  color: #202020;
}

.student-name {
  font-family: cursive;
  font-size: 18px;
  margin: 0 0 5px;
}

.student-house {
  font-family: cursive;
  font-size: 16px;
}

.expell {
  font-family: cursive;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 18px;
  padding: 5px 10px 0;
  transition: 0.5s ease all;
  cursor: pointer;
}

.expell:hover {
  text-shadow: 0px 3px 5px rgb(200, 0, 0);
}

#overlay {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  width: 100vw;
  height: 100vh;
  color: white;
  display: none;
}

#indhold {
  background-color: rgba(0, 0, 0, 0.651);
  width: 400px;
  height: 450px;
  margin: 15vh auto;
  color: white;
  padding: 30px 5px;
}

.slytherin {
  background-image: url(sly.png);
  background-size: cover;
  background-position: center;
}
.gryffindor {
  background-image: url(gryf.png);
  background-size: cover;
  background-position: center;
}
.ravenclaw {
  background-image: url(raven.png);
  background-size: cover;
  background-position: center;
}
.hufflepuff {
  background-image: url(huff.png);
  background-size: cover;
  background-position: center;
}

.popup-info-container {
  padding: 30px 0 0 30px;
  width: 200px;
  height: 300px;
}

.house-crest {
  background-image: url(sly.png);
  background-size: cover;
}

.student-img {
  width: 120px;
}

.statuses {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 60%;
  height: 27%;
  align-items: flex-end;
}

.inq-change {
  margin-bottom: -3px;
}

.statuses img {
  width: 50px;
  cursor: pointer;
}

#indhold img {
  max-width: 60vw;
}

.popup-name,
.pop-house-desc {
  font-family: cursive;
}

#luk {
  max-width: 100px;
  margin: 100px auto -100px;
}

#luk button {
  padding: 5px 25px;
  font-size: 15px;
  background-color: black;
  border: none;
  font-weight: 700;
  color: white;
}
